{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
			body {
				margin: 0;
				font-family: Arial, Helvetica, sans-serif;
				background-color: #181818;
				font-size:18px;
				color: #FFFFFF;
			}
			h1, h2, p {
			color: #FFFFFF;
			}
			a {
			color: #FFFFFF;
			text-decoration: none;
			background-color: transparent;
			}
			 a:hover {
			color: #FFFFFF;
			}
			ul {
				display: flex;
			 }
			/* Top navigation bar styling */

			.topnav {
				overflow: hidden;
				background-color: #121212;
			}
			.topnav a {
				float: left;
				display: block;
				color: #f2f2f2;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				font-size: 17px;
			}
			.topnav a:hover {
				background-color: #ddd;
				color: black;
			}
			.topnav a.active {
				background-color: #196432;
				color: white;
			}
			.topnav .icon {
				display: none;
			}
			@media screen and (max-width: 600px) {
				.topnav a:not(:first-child) {display: none;}
				.topnav a.icon {
					float: right;
					display: block;
				}
			}
			@media screen and (max-width: 600px) {
				.topnav.responsive {position: relative;}
				.topnav.responsive .icon {
					position: absolute;
					right: 0;
					top: 0;
				}
				.topnav.responsive a {
					float: none;
					display: block;
					text-align: left;
				}
			}
			.alert-primary {
			background-color: #196432;
			border-color: #196432;
			color: #FFFFFF;
			}
	</style>
	<link rel="topnavbar stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
Select a Record
{% endblock %}


{% block content %}

<div class="topnav" id="myTopnav">
	  <a href="{{ url_for('index') }}" class="active">Home</a>
	  <a href="{{ url_for('add_record') }}">Add record</a>
	  <a href="{{ url_for('inventory_all') }}">View records</a>
	  <a href="{{ url_for('select_record') }}">Edit records</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
	    <i class="fa fa-bars"></i>
	  </a>
</div>

<div class="container">
  <div class="row pb-5">
    <div class="col-lg-12 mx-lg-auto">

      <h1 class="pt-5 pb-2">Select a Record</h1>

      <p class="lead alert alert-success">Select one record to edit or delete.</p>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

	  <!-- start form - not using WTForms here -->
	  <form method="POST" id="form2" action="{{ url_for('edit_or_delete') }}">

		<table class="table">
			<tr>
				<th></th>
				<th>Kilometers</th>
				<th>Transport Type</th>
				<th>Fuel Type</th>
				<th>Date</th>
				<th>CO2 kg/passenger km</th>
				<th>User</th>
				<th>Updated</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for value in emissions %}
			<tr>
				<td class="center-align"><input type="radio" name="id" value="{{ value.id }}" required></td>
				<td>{{ value.kms }}</td>
				<td>{{ value.transport }}</td>
				<td>{{ value.fuel }}</td>
				<td>{{ value.date }}</td>
				<td>{{ value.co2 }}</td>
				<td>{{ value.user_name }}</td>
				<td>{{ value.updated }}</td>
			</tr>
			{% endfor %}
		</table>

		<div class="form-group lead alert alert-success pb-4">
          <p>What do you want to do with the selected record?</p>

          <div class="form-check form-check-inline">
          <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="delete" required> Delete it</label>
          </div>
          <div class="form-check form-check-inline">
          <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="edit" required> Edit it</label>
          </div>
        </div><!-- end form-group -->

		<div class="form-group">
	        <input class="btn btn-success" type="submit" value="Submit Choice">
        </div>

		</form>
		</div>
	</div>
</div>
<script>
function myFunction() {
	var x = document.getElementById("myTopnav");
	if (x.className === "topnav") {
		x.className += " responsive";
	} else {
		x.className = "topnav";
	}
}
</script>
{% endblock %}
